pkgbase = kleaner-git
	pkgdesc = Linux System Optimizer and Monitoring
	pkgver = 1.3.1
	pkgrel = 1
	url = https://volrencs.github.io/Kleaner/
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	makedepends = wayland-protocols
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = kirigami
	depends = kcoreaddons
	depends = kconfig
	depends = kdbusaddons
	depends = kstatusnotifieritem
	depends = kio
	depends = kauth
	optdepends = breeze-icons: icon theme for the KDE desktop
	provides = kleaner
	conflicts = kleaner
	options = !lto
	source = kleaner-git::git+https://github.com/VolRencs/Kleaner.git
	sha256sums = SKIP

pkgname = kleaner-git
