pkgbase = stacer-git
	pkgdesc = Linux System Optimizer and Monitoring (Qt 6 / Kirigami rewrite)
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/QuentiumYT/Stacer
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qt6-wayland
	depends = kirigami
	depends = kquickcharts
	depends = kcoreaddons
	depends = kconfig
	depends = kdbusaddons
	depends = kstatusnotifieritem
	depends = kio
	depends = kauth
	depends = qqc2-desktop-style
	optdepends = breeze-icons: icon theme for the KDE desktop
	provides = stacer
	conflicts = stacer
	conflicts = stacer-bin
	options = !lto

pkgname = stacer-git
