pkgbase = kleaner
	pkgdesc = Linux System Optimizer and Monitoring
	pkgver = 1.3.0
	pkgrel = 1
	url = https://volrencs.github.io/Kleaner/
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = kirigami
	depends = kcoreaddons
	depends = kconfig
	depends = kdbusaddons
	depends = kstatusnotifieritem
	depends = kio
	depends = kauth
	optdepends = breeze-icons: icon theme for the KDE desktop
	conflicts = kleaner-git
	options = !lto
	source = kleaner-1.3.0.tar.gz::https://github.com/VolRencs/Kleaner/archive/refs/tags/v1.3.0.tar.gz
	sha256sums = 1d8b225b5fd8b31f6bba07c426352ccb6a90a1afc85f47538d4751f82c994190

pkgname = kleaner
