pkgbase = kleaner
	pkgdesc = Linux System Optimizer and Monitoring (Qt 6 / KDE Frameworks 6)
	pkgver = 1.2.2
	pkgrel = 1
	url = https://volrencs.github.io/Kleaner/
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = kirigami
	depends = kcoreaddons
	depends = kconfig
	depends = kdbusaddons
	depends = kstatusnotifieritem
	depends = kio
	depends = kauth
	depends = qqc2-desktop-style
	optdepends = breeze-icons: icon theme for the KDE desktop
	conflicts = kleaner-git
	options = !lto
	source = kleaner-1.2.2.tar.gz::https://github.com/VolRencs/Kleaner/archive/refs/tags/v1.2.2.tar.gz
	sha256sums = SKIP

pkgname = kleaner
